/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
@supports (font-variation-settings: normal) {
  .page {
    font-family: "Inter-Variable", sans-serif;
    font-size: var(--font-size);
  }
}

@supports ((text-stroke: 1px var(--background-color) or (-webkit-text-stroke: 1px var(--background-color)))) {
.watermark {
  -webkit-text-stroke: 1px var(--background-color);
  text-stroke: 1px var(--background-color);
  text-shadow: none;
}
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wdth" var(--text_light_font-weight);
  color: var(--themes-lightColor);
  background-image: var( --background-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--accent-Color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  width: max(371px, 48.3%);
  min-height: 323px;
  margin:  auto;
  border: 2px solid var(--accent-Color);
  color: var(--accent-Color);
  margin-block-start: 102px;
  margin-block-end: 100px;
  padding: 10px;
}

.header__a {
  color: var(--accent-Color);
  font-family: var(--regular_font-family);
  font-size: clamp(49px, 4.51vw, 65px);
  margin-block-start: 125px;
  margin-block-end: 20px;
}

.header__title {
  color: var(--accent-Color);
  font-family: var(--regular_font-family);
  font-size: clamp(14px, 1.60vw, 23px);
  margin-block-end: 22px;
  text-transform: uppercase;
}

.theme-menu__button {
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: var(--regular_font-family);
  font-size: 14px;
  font-weight: 400;
  color: var(--accent-Color);
  text-transform: uppercase;
  margin-inline-start: 20px;
  margin-block-end: 10px;
  transition: all 0.3s ease; 
}

.theme-menu__button:after {
  content: '';
  position: absolute;
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-Color);
  transition: all 0.3s ease;
  transform: scaleX(1);
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled{
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  top: 0px;
  right: 96px;
  animation: arrow 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:disabled:after {
  content: '';
  background-color: var(--accent-Color);
  transition: all 0.3s ease;
}

.theme-menu__button:focus-visible:after {
  width: 100%;
  transform: scaleX(1);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: max(372px, 48.3%);
  border: 2px solid var(--accent-Color);
  background-color: var(--background-color);
  margin-block-end: 50px;
  
}

.title__card {
  font-family: var(--variables_font-family);
  font-size: 18px;
  font-variation-settings: var(--title_font-weight);
  color: var(--accent-Color);
  padding-inline-start: 10px;
  padding-block: 5px;
}

.image__card {
  position: relative;
  overflow: hidden;
}

.watermark {
  position: absolute;
  font-family: var(--regular_font-family);
  font-size: 14px;
  font-weight: 400;
  color: var(--accent-Color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  right: 23px;
  z-index: 2;
  top: 30px;
  -webkit-text-stroke: 1px var(--background-color);
  text-shadow: none;
}

.image {
  display: block;
  width: 152%;
  object-fit: cover;
  object-position: center;
}

.text {
  font-family: var(--variables_font-family);
  font-size: 18px;
  font-variation-settings: var(--text_font-weight);
  color: var(--accent-Color);
  margin: 24px 25px 25px 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  height: 24px;
  transition: border 0.3s ease;
  padding: 16px 0;
  transition: border 0.3s ease ;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-Color);
}

.card__icon-button:hover, .main-body {
  fill: var(--accent-Color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-Color);
  transition: fill 0.3s linear 0.05s;
} 

.card__icon-button:active .main-body {
  fill: var(--heart-color-body);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:hover .core {
  fill: var(--accent-Color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .core {
  fill: var(--heart-color-body);
  transition: fill 0.3s linear;
}


.like-icon.is-liked .main-body {
  fill: var(--heart-color-body);
  transition: fill 0.3s linear 0.05s; 
}

.like-icon.is-liked .core { 
  fill: var(--heart-color-body);
  transition: fill 0.3s linear; 
}

.like-icon.is-liked .contour { 
  fill: var(--heart-color-body);
  transition: fill 0.3s linear 0.06s; 
}

.is-liked .heart {
  animation: like-skale 0.3s ease-in 0.1s alternate;
}

.is-liked .sparks {
  animation: like-spark 0.3s ease-in 0.3s alternate;
}

.like-icon {
  width: 39px;
  height: 36px;
  outline: none;
  border: none;
  background-color: transparent;
}

.button__card {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 6px;
  margin: 0 25px 25px 0;
}

.button__text {
  mix-blend-mode: difference;
  color: var(--button-color);
  z-index: 2;
}


.floppy {
  width: 28px;
  height: 28px;
  fill: var(--accent-Color);
}

.floppy__use {
 background-size: cover;
}

/*.card__like-button,
.ok*/ .button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-Color);
  outline: none;
  background-color: transparent;
  font-family: var(--regular_font-family);
  font-size: 14px;
  font-weight: 400;
  color: var(--accent-Color);
  padding: 9px 34px;
  cursor: pointer;
  transition: all 0.5s ease-in-out; 
  transition: box-shadow 0.3s ease-in-out; 
}

/*.card__like-button:focus,
.save__button:focus,
.ok:focus*/ .button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-Color);
}

/*.card__like-button:before,
.save__button:before,
.ok:before*/ .button::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transform: scalex(1);
  background-color: var(--accent-Color);
  transition: 0.5s ease-in-out;
}

/*.card__like-button:hover:before,
.save__button:hover:before,
.ok:hover:before*/ .button:hover::before {
  transform: scalex(1);
  width: 100%;
}


.save__button {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--accent-Color);
  background-color: var(--background-color);
  font-family: var(--regular_font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  padding: 14px 20px;
  transition: all 0.5s;
  margin: 3px auto 80px;
}

.floppy {
  mix-blend-mode: difference;
  z-index: 2;
  color: var(--button-color);
  stroke: var(--button-color);
  fill: var(--accent-Color);
  width: 24px;
  height: 21px;
}

.window {
  width: 357px;
  min-height: 195px;
  font-family: var(--regular_font-family);
  background-color: var(--background-color);
  font-size: 14px;
  border: 2px solid var(--accent-Color);
  padding: 31px 32px;
}

.ok {
  width: 293px;
  height: 38px;
  margin-block-start: 29px;
  
}

.floppy_and_text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
 
}

.floppy__window {
  z-index: 2;
  width: 90px;
  height: 40px;
  color: var(--accent-Color);
  stroke: var(--accent-Color);
}

.text__window {
  font-family: var(--regular_font-family);
  color: var(--accent-Color);
  font-weight: 400;
  line-height: 150%;
  font-size: 14px;
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.75;
}

.filter_saturate {
  filter: saturate(30%);
}

.filter_contrast {
  filter: saturate(500%) contrast(100%) brightness(100%);
}

.filter_hue-rotate {
  filter: saturate(200%) grayscale(50%) hue-rotate(25deg) sepia(30%) contrast(100%) brightness(100%);
}

.filter_brightness {
  filter: saturate(220%) invert(60%) contrast(200%) brightness(120%);
}

.filter_sepia {
  filter: saturate(30%) sepia(60%) invert(20%) grayscale(50%) contrast(200%);
}

.filter_blur {
  filter: saturate(80%) blur(5px);
}

.filter_mix {
  filter: saturate(61%) invert(35%) contrast(155%) hue-rotate(142deg) brightness(112%) sepia(39.6)
}


@media (width <= 376px) {
  body {
    min-height: 100vh;
  }
  
  .header {
    min-height: 323px;
    margin-block-end: 101px;
  }

  .header__a {
    margin-block-start: 108px;
  }

  .watermark {
    right: 10px;
    top: 26px
  }

  .card {
    margin-block-end: 48px;
  }

  .save__button {
    flex-direction: column;
    width: 306px;
    height: 80px;
    padding: 10px 0;
    justify-content: space-between; 
    margin: 5px auto 80px;
}

  .floppy {
    width: 30px;
    height: 30px;
    
  }

  .text__card {
    border-top: 2px solid var(--accent-Color);
  }

}